
{#<div class="ui basic segment footer" style="margin-top: 100px">#}
{#    <div class="ui divider" style="width:960px;height:3px;"></div>#}
{#    <div class="ui three column grid">#}
{#        <div class="column">#}
{#            <div class="footer1">Developed by Kirito</div>#}
{#        </div>#}
{#        <div class="column">#}
{#            <div class="footer2">关于我们 . 加入我们 . 联系我们</div>#}
{#        </div>#}
{#        <div class="column">#}
{#            <div class="footer3">京ICP备15047012号-2</div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}




{% include 'register.html' %}


{% include 'login.html' %}


